*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 1.8rem;
}

.body-shell {
  background: linear-gradient(90deg, #e8e3ff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  width: 550px;
  background-color: white;
  border-radius: 0.5em;
  margin: 1.25rem 0;
  overflow: hidden;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.2%, #a626d3 100%);
  color: white;
  padding: 1.25rem;
}

.header__img {
  height: 100%;
  margin-right: 0.7rem;
}

.header__title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header__project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.form__input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form__btn {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90.41deg, #711f8d 1.2%, #a818da 100%);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme__image {
  max-width: 100%;
  border-radius: 3px;
}

.meme__text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
